button {
  border: none;
  background: rgba(0, 128, 128, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  outline: none;
  padding: 20px;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background: rgba(249, 249, 249, 0.3);
  transform: scale(1.05);
}

.equals {
  grid-column: 3 / 5;
  background: rgba(253, 72, 72, 0.825);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.equals:hover {
  background: rgba(255, 0, 0, 0.3);
  transform: scale(1.05);
}
